.withdrawal-information {
    background-color: #fff8dc;
    width: 100%;
    max-width: 90%;
    margin-left: 10px;
    padding: 10px;
    border-radius: 10px;
  }
  
  .sold-item-header {
    text-align: center;
    padding: 20px;
  }
  
  
  .withdrawal-notice {
    width: 100%;
    max-width: 95%;
  }
  
  .soldproduct-item {
    margin: 0px;
    font-size: 11px !important;
    
  }


  .soldpro {
    width: 250px;
    max-width: 300px;
  }
  
  @media screen and (max-width: 600px) {
    .sold-item-header {
      text-align: left;
      max-width: 95%;
      padding: 10px;
    }
  
    .withdrawal-information {
      max-width: 95%;
      padding: 5px;
      margin-left: 0px;
    }
  
    .withdrawal-notice {
      max-width: 85%;
    }
  }
  
  